<div class="button new_thread">New Thread</div>
<ul class="new_thread_form center">
    <li><input type="text" class="new_thread_title" placeholder="Thread Title"/></li>
    <li><textarea class="new_thread_text" 
    	placeholder="Add the first post to 
    	this discussion. We would like you to elaborate on what this topic is about, 
    	what is expected of people participating and anything important. "></textarea></li>
    <li><div class="button new_thread_submit">Create thread</div><div class="button new_thread_cancel">Cancel</div></li>
</ul>
        
<table class="thread_list" cellspacing="1" cellpadding="6" width="99%">
	<tr>
		<th align="center" class="resourceBar">Title</th>
		<th align="center" class="resourceBar">Posted By</th>
		<th align="center" class="resourceBar">Replies</th>
		<th align="center" class="resourceBar">Creation Date</th>
	</tr>
</table>
<div class="error_message"></div>