<h2 class="centered">Threads</h2>
        
<h2>New Thread</h2>
<ul>
    <li>Title: <br><input type="text" class="new_thread_title" /></li>
    <li>Message: <br><textarea class="new_thread_text" /></li>
    <li><input type="submit" class="new_thread_submit" value="Create thread" /></li>
</ul>
        
<table class="thread_list" cellspacing="1" cellpadding="6" width="99%">
	<tr>
		<td align="center" class="resourceBar">Title</td>
		<td align="center" class="resourceBar">Posted By</td>
		<td align="center" class="resourceBar">Replies</td>
		<td align="center" class="resourceBar">Creation Date</td>
	</tr>
</table>
<div class="error_message"></div>